
<div class="row-fluid">
  <div class="hero-unit">
    <h1>Welcome!</h1>
    <p>Just take a few seconds to set up your account, then you too can make your trivial life moments feel important!</p>
    <p>
      <%= link_to "Sign Up", register_path, class: "btn btn-primary btn-large" %> <br>
      <%= link_to "Already have an account?", login_path %>
    </p>
  </div>
</div>
